.label-custom {
  font-weight: 700;
}

.div-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1-custom {
  margin: 0;
  font-weight: 900;
  color: #c16532;
}

.input-custom {
  padding: 12px;
  border: none;
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
}

.span-custom {
  color: rgba(255, 255, 255, 0.732);
}
