.label-custom {
  font-weight: 700;
}

.div-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-custom {
  padding: 12px;
  border: none;
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
}

.div-background-registration-form {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
