.div-phto-card {
  position: relative;
  border-radius: 10px;
}
.photo-card-custom {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.photo-card-custom-modal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.button-icon-expand {
  background-color: transparent;
  border: none;
  position: absolute;

  opacity: 0;
  transition: opacity 0.2s ease;
}
.div-image-container {
  width: 100%;
  height: 300px;
}

.div-phto-card:hover .button-icon-expand {
  opacity: 1;
}
.div-phto-card:hover {
  opacity: 0.9;
}

.modal-opacity {
  opacity: none;
}

.link-custom-card {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 5px;
  text-decoration: none;
  color: beige;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-add-custom {
  background-color: burlywood;
  border: none;
  border-radius: 12px 0px 0px 12px;
  font-weight: 600;
}

.button-add-custom:hover {
  transform: scale(0.7);
}

.span-custom-modal {
  font-weight: 600;
  font-size: large;
}

.modal-title-custom {
  font-weight: 600;
  font-size: 32px;
  color: brown;
}

.div-img-relative {
  position: relative;
}

.no-save {
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
}

.p-custom-photocard {
  white-space: nowrap;
}
