.container-custom-order-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.div-order-info {
  border: 1px solid black;
  padding: 24px;
  border-radius: 12px;
}

.div-line-order {
  border-top: 1px solid black;
  padding: 12px;
}

.card-order-page {
  width: 80px;
  height: 80px;
  border-radius: 12px;
}
