.container-reset-password {
  width: 100%;
  height: 100vh;
  background: #1e1a1b;
  background: linear-gradient(
    94deg,
    rgba(30, 26, 27, 1) 0%,
    rgba(48, 26, 22, 0.94) 100%
  );
}

.col-custom-reset-password-page {
  border: 1px solid black;
  padding: 15px;
  border-radius: 12px;
  background-color: rgb(248, 209, 160);
}
