.container-recover-password {
  width: 100%;
  height: 100vh;
  background: #a36105;
  background: linear-gradient(
    316deg,
    rgba(163, 97, 5, 1) 0%,
    rgba(79, 49, 3, 0.93) 0%
  );
}

.div-form-recover-password {
  border: 1px solid black;
  padding: 12px;
  border-radius: 12px;
}

.input-recover-password {
  width: 100%;
}

.row-recover-password {
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7a77d;
}

.img-recover-password {
  border-radius: 12px;
}

@media (max-width: 425px) {
  .img-recover-password {
    width: 75%;
  }
}
