.container-recover-password {
  width: 100%;
  height: 100vh;
}

.div-form-recover-password {
  border: 1px solid black;
  padding: 12px;
  border-radius: 12px;
}

.input-recover-password {
  width: 100%;
}
