.about-container {
  background-color: #0f0f10;
  color: white;
  min-height: 100vh;
}

.about-div-background {
  background-color: #0f0f10;
}
.about-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.about-subtitle {
  color: #bdbdbd;
  max-width: 600px;
  margin: auto;
}

.about-image {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.about-card {
  background: #1c1c1e;
  padding: 25px;
  border-radius: 12px;
  height: 100%;
  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-5px);
  background: #252529;
}
