.div-custom-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.div-custom-footer :nth-child(n) {
  text-decoration: none;
  color: white;
}

.container-footer {
  margin-top: auto;
  width: 100%;
}

.icon-footer {
  width: 32px;
  height: 32px;
}
