.div-custom-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.div-custom-footer :nth-child(n) {
  text-decoration: none;
}

.container-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
