.img-custom-hero {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 100%;
  background-color: #08090b;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 6px solid transparent;
  border-radius: 12px;
  transition: border-color 0.3s ease;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-slide:hover {
  border-color: #c16532;
}

.link-hero-custom {
  margin: 5px;
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
  color: white;
}

.div-link-custom-hero {
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: white;
}

.background-hero {
  background-color: #08090b;
}
