.h3-custom-notFoundPage {
  font-size: 200px;
  font-weight: bolder;
}
.bg-container {
  background-image: url("");
}

.button-custom-notFound {
  background-color: black;
  color: white;
}

.button-custom-notFound:hover {
  background-color: wheat;
  color: black;
}
