.container-infopage {
  background-color: #2f3e34;
  color: white;
  min-height: 100vh;
}

.p-infopage {
  color: #cfcfcf;
  max-width: 600px;
  margin: auto;
  font-weight: 600;
}

.h1-custom-infopage {
  font-weight: 800;
  margin-bottom: 15px;
  color: #c16532;
}

.h3-custom-infopage,
.h4-custom-infopage {
  margin-bottom: 15px;
  font-weight: 600;
  color: #c16532;
}

.ul-custom-infopage,
.ol-custom-infopage {
  padding-left: 20px;
}

.div-infopage-background {
  background-color: #2f3e34;
}
