* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.nav-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-custom {
  font-weight: 500;
  font-size: large;
  color: white;
}
.btn-sign-in {
  background-color: transparent;
}

.text-custom:hover,
.btn-sign-in:hover {
  color: #c16532;
}

.link-admin-page {
  color: white;
  text-decoration: none;
}
.link-admin-page:hover {
  color: #c16532;
}
.modal-cart-navbar {
  margin-right: 5px;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .user-menu {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .nav-custom {
    text-align: center;
  }

  .navbar-collapse {
    align-items: center;
  }
}
